.header {
  background-color: #f5f5f5; /* Replace with the color you want */
}
.positive-news-headline {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.emergency-call {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.medication-alert {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.task-reminder {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.container {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.news-component {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.news-component a {
  color: var(--text-color);
}

.news-component a:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.news-component thead {
  background-color: var(--bg-color);
}

.news-component tbody tr:hover {
  background-color: var(--bg-color);
}
.bg-light {
  background-color: #f5f5f5; /* Light background color */
}

.bg-dark {
  background-color: #000;
  color: #f5f5f5; /* Dark background color */
}
